$color-primary:           #1565c0;
$color-light-blue-01:     #bbdefb;
$color-light-blue-02:     #90caf9;
$color-light-blue-03:     #64b5f6;
$color-light-blue-04:     #42a5f5;
$color-error:             #cc0000;
$color-fancy-black:       #090909;

$color-white:             #ffffff;
$color-gray-01:           #fefefe;
$color-gray-02:           #fafafa;
$color-gray-03:           #f2f2f2;
$color-gray-04:           #dddddd;
$color-gray-05:           #bcbdbd;
$color-gray-06:           #757575;
$color-gray-07:           #41485C;
$color-gray-08:           #303030;

$color-normalText:        #41485C;
$color-normalText--light: #DCDCDC;
$color-normalText--dark:  #303030;
$color-title--big:        #F5F5F5;
